# Assignment 2 - Data from the web

## Data scraping

## 1. Obtain all the data

In [1]:
import requests
from bs4 import BeautifulSoup

The first thing to do is to get the base URL (basically looking at the address bar of the browser).
We need a second variable INDEX_PARAM because this page is using frames, and we'll need the base address to access them.

In [2]:
BASE_URL = "http://isa.epfl.ch/imoniteur_ISAP/%21gedpublicreports.htm"
INDEX_PARAM = "ww_i_reportmodel=133685247"

Then let's fetch the parameters names, but as it is a bit tricker, BeautifulSoup will be a great help for this (and also some manual html inspection).

In [3]:
r = requests.get(BASE_URL + '?' + INDEX_PARAM)
soup = BeautifulSoup(r.text, 'html.parser')


#print(soup)

for frame in soup.find_all('frame'):
    if frame['name'] == 'toc':
        r = requests.get("http://isa.epfl.ch/imoniteur_ISAP/" + frame['src'])
        print(frame['src'])
# The content of the frame

# Print slects
soup = BeautifulSoup(r.text, 'html.parser')
query = 'http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.html?ww_x_GPS=-1&ww_i_reportModel=133685247'

!GEDPUBLICREPORTS.filter?ww_i_reportModel=133685247

and finally a nice function to easily query the EPFL page and get the data from it.

In [14]:
def query_epfl(section, startYear, endYear, semesterType, semesterNumber, semesterSeason):
    # Print slects
    soup = BeautifulSoup(r.text, 'html.parser')
    query = 'http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.html?ww_x_GPS=-1&ww_i_reportModel=133685247'


    for in_put in soup.findAll('input'):
        #print (in_put['name'])
        if in_put.text == "xls":
        #print(in_put['value'])
            query = query + '&' + in_put['name'] + '=' + in_put['value']
     
    for select in soup.findAll('select'):
    #print (select['name'])
        for t in select.findAll('option'):
        #print(t)
            if t.text == section:
            #print(t['value'])
                query = query + '&' + select['name'] + '=' + t['value']
            if t.text == str(startYear) + '-' + str(endYear):
                query = query + '&' + select['name'] + '=' + t['value']
            if t.text == semesterType + " " + str(semesterNumber):
                query = query + '&' + select['name'] + '=' + t['value']
            if t.text == "Semestre " + semesterSeason:
                query = query + '&' + select['name'] + '=' + t['value']
    return query

In [15]:
import pandas as pd
import numpy as np

def query_to_df(section, startYear, endYear, semesterType, semesterNumber, semesterSeason):
    queryString = query_epfl(section, startYear, endYear, semesterType, semesterNumber, semesterSeason)
    table = BeautifulSoup(requests.get(queryString).text, 'html.parser')
    data = []
    for row in table.findAll('tr'):
        cols = row.find_all('td')
        cols = [ele.text.strip().replace('\xa0', ' ') for ele in cols]
        data.append([ele for ele in cols if ele])
    return pd.DataFrame(data[3:]) #We take data from index 3 and up, because that's where the first student record is.

We can now start using those functions to collect data. Example below

In [17]:
df = query_to_df("Informatique", 2007,2008, "Bachelor semestre", 1, "d'automne")
print(df)

           0                                    1        2       3
0   Monsieur                           Adami Marc  Présent  179181
1     Madame                         Adamow Chloé  Présent  178494
2   Monsieur                          Adouch Zyad  Présent  180553
3     Madame                     Allemann Aurélie  Présent  175314
4   Monsieur                         Andres David  Présent  179393
5   Monsieur                        Arroyo Alvaro  Présent  181601
6   Monsieur                       Beretta Davide  Présent  175330
7     Madame                       Bodinier Manon  Présent  174594
8     Madame                       Bornoz Pauline  Présent  179459
9   Monsieur                     Brandinu Laurent  Présent  178674
10  Monsieur                       Chuard Nicolas  Présent  179036
11  Monsieur                         Cudré Yanouk  Présent  178750
12    Madame                       Djeddou Anissa  Présent  160856
13  Monsieur                       Encontre Henri  Présent  181234
14  Monsieur                        Estifo Fetsum  Présent  175497
15  Monsieur               Farshori Akbar Hussain  Présent  175502
16    Madame                     Foletti Carlotta  Présent  175373
17  Monsieur                      Formica Florian  Présent  181113
18  Monsieur                         Gaillard Léo  Présent  181104
19  Monsieur                     Gebert Dominique  Présent  179015
20  Monsieur                       Graber Stephan  Présent  179906
21    Madame                     Grandjean Nadine  Présent  178641
22  Monsieur                         Gruet Thomas  Présent  181410
23  Monsieur                        Guenat Julien  Présent  181566
24    Madame                         Hälg Léonore  Présent  178655
25  Monsieur                  Hervella Alessandro  Présent  178856
26    Madame                         Heymoz Julie  Présent  181250
27    Madame                   Himmelspach Joëlle  Présent  178733
28    Madame                        Hirt Nathalie  Présent  178899
29  Monsieur                      Jaquet Baptiste  Présent  178643
..       ...                                  ...      ...     ...
44    Madame               Méchaussie Elfie Marie  Présent  179198
45  Monsieur                        Meier Thierry  Présent  179360
46  Monsieur                       Meylan Grégory  Présent  180941
47    Madame                       Miles Caroline  Présent  176313
48  Monsieur   Miraglia Franco de Carvalho Felipe  Présent  181803
49    Madame                      Moret Bénédicte  Présent  176487
50    Madame                         Morin Mylène  Présent  178540
51  Monsieur                     Nussbaumer Simon  Présent  181020
52  Monsieur                         Oggier Loris  Présent  181024
53    Madame              Ouazzani Chahdi Zoubida  Présent  180101
54  Monsieur                          Peel Morgan  Présent  175765
55  Monsieur                        Pellet Norman  Présent  179666
56    Madame          Perea Verdi Johanna Vanessa  Présent  167038
57  Monsieur                      Pulgarin Adrian  Présent  179706
58    Madame                           Reber Iris  Présent  178329
59    Madame                       Reymond Helena  Présent  178294
60  Monsieur                       Richard Pascal  Présent  180963
61  Monsieur                            Roch Loïc  Présent  180929
62  Monsieur                      Rodrigues Dinis  Présent  180968
63  Monsieur                      Rovelli Lorenzo  Présent  180978
64  Monsieur                        Sartor Romain  Présent  179761
65    Madame                     Schaller Léonore  Présent  179763
66    Madame                       Schneider Elsa  Présent  181925
67  Monsieur                     Steimer Frédéric  Présent  179823
68  Monsieur                        Thampi Ashwin  Présent  178933
69    Madame           Tornfeldt Denise Charlotte  Présent  174518
70  Monsieur                       Tschudi Adrien  Présent  181004
71  Monsieur                       Urfer Matthias  Présent  181477
72  Monsieur  von Erlach Thibaud Edouard Alistair  Présent  180995
73  Monsieur                           Walch John  Présent  179999

[74 rows x 4 columns]

In [18]:
#sectionList = ["Architecture", "Chimie et génie chimique","Cours de mathématique spéciales","EME (EPFL Middle East)","Génie civil","Génie mécanique","Génie électrique et électronique","Humanités digitales","Informatique", "Ingénierie financière", "Management de la technologie","Mathématiques", "Microtechnique", "Physique", "Science et génie des matériaux","Sciences et ingénierie de l'environnement", "Sciences et technologies du vivant","Section FCUE", "Systèmes de communication"]
#This dates from back when I thought we had to query every single section. It was the best of time, it was the worst of times.

We're now going to collect and merge every single semester of every single year. We'll append columns "year", "semester".

Together with a student's sciper, we'll use this to make unique indexes. We could've used the name but it's possible that two students with the same name would be in the same class in the same year and semestre.

In [68]:
frames = []
for year in range(2007, 2017):
    for semester in range (1, 7):
        if(semester % 2 == 0 ):
            season="de printemps"
        else:
            season="d'automne"
        df = query_to_df("Informatique", year,year+1, "Bachelor semestre", semester, season)
        #df.columns = ["civility", "name", "status", "sciper"]
        df['year'] = year
        df['semester'] = semester
        #df.set_index(['sciper', 'year', 'semester'])
        frames.append(df)
result = pd.concat(frames)

We make sure the index is unique

In [47]:
print(df.index.is_unique)

True

In [70]:
from IPython.display import display
display(result)

,0,1,2,3,year,semester,4,5,6
0,Monsieur,Arévalo Christian,Présent,169569,2007,1,NaN,NaN,NaN
1,Monsieur,Aubelle Flavien,Présent,174905,2007,1,NaN,NaN,NaN
2,Monsieur,Badoud Morgan,Présent,173922,2007,1,NaN,NaN,NaN
3,Monsieur,Baeriswyl Jonathan,Présent,179406,2007,1,NaN,NaN,NaN
4,Monsieur,Barroco Michael,Présent,179428,2007,1,NaN,NaN,NaN
5,Monsieur,Belfis Nicolas,Présent,179324,2007,1,NaN,NaN,NaN
6,Monsieur,Beliaev Stanislav,Présent,174597,2007,1,NaN,NaN,NaN
7,Monsieur,Bindschaedler Vincent,Présent,179449,2007,1,NaN,NaN,NaN
8,Monsieur,Bloch Marc-Olivier,Présent,178553,2007,1,NaN,NaN,NaN
9,Monsieur,Bloch Remi,Présent,179426,2007,1,NaN,NaN,NaN
10,Monsieur,Boéchat Marc-Alexandre,Présent,178271,2007,1,NaN,NaN,NaN
11,Monsieur,Böhler Michael,Présent,182433,2007,1,NaN,NaN,NaN
12,Monsieur,Bricola Jean-Charles,Présent,180731,2007,1,NaN,NaN,NaN
13,Monsieur,Buchschacher Nicolas,Présent,171619,2007,1,NaN,NaN,NaN
14,Monsieur,Caloz Daniel,Présent,179837,2007,1,NaN,NaN,NaN
15,Monsieur,Calvert Thomas,Présent,179157,2007,1,NaN,NaN,NaN
16,Monsieur,Cambazard Thomas,Présent,179864,2007,1,NaN,NaN,NaN
17,Monsieur,Camenzind Guillaume,Présent,174590,2007,1,NaN,NaN,NaN
18,Monsieur,Cattin Nicolas,Présent,178843,2007,1,NaN,NaN,NaN
19,Monsieur,Cino Emanuel,Présent,178711,2007,1,NaN,NaN,NaN
20,Monsieur,Coiro Andrea,Présent,178786,2007,1,NaN,NaN,NaN
21,Monsieur,Collavini Gregory,Présent,179567,2007,1,NaN,NaN,NaN
22,Monsieur,Corbat Nicolas,Présent,176282,2007,1,NaN,NaN,NaN
23,Monsieur,Curreli Alexandre,Présent,178656,2007,1,NaN,NaN,NaN
24,Monsieur,Custovic Alain,Présent,181445,2007,1,NaN,NaN,NaN
25,Monsieur,Dal Mas Gianluca,Présent,178718,2007,1,NaN,NaN,NaN
26,Monsieur,Decorvet Grégoire,Présent,175466,2007,1,NaN,NaN,NaN
27,Monsieur,Dettwiler Fabrice,Présent,173882,2007,1,NaN,NaN,NaN
28,Madame,Ej-Jennane Jihane,Présent,181612,2007,1,NaN,NaN,NaN
29,Monsieur,Epiney Vincent,Présent,181232,2007,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
113,Monsieur,Weier Philippe,6 - Visual computing,Congé,2016,5,Erasmus,Universidad de Granada,247891
114,Monsieur,Wicht Bruno,6 - Visual computing,Présent,2016,5,250410,None,None
115,Monsieur,Willemin Xavier,Présent,212826,2016,5,None,None,None
116,Monsieur,Wütschert Robin Axel,6 - Visual computing,Présent,2016,5,250419,None,None
117,Monsieur,Zbinden Boris Adrien,6 - Visual computing,Présent,2016,5,237151,None,None
118,Monsieur,Zenhäusern Joey Kevin,Présent,226652,2016,5,None,None,None
0,Monsieur,Abate Bryan Jeremy,Congé,Erasmus,2016,6,University of Bristol,246671,None
1,Monsieur,Alami-Idrissi Ali,5 - Signal and Image Processing,Congé,2016,6,Erasmus,Linköping University,251759
2,Monsieur,Aoun Leonardo,Congé,Bilatéral,2016,6,"University of Washington, Seattle",249498,None
3,Monsieur,Bachmann Roman Christian,Congé,Erasmus,2016,6,Norwegian University of Science and Technology...,234551,None
4,Monsieur,Beck Johannes Magnus,Congé,Mobilité en Suisse,2016,6,Eidgenössische Technische Hochschule Zürich,247328,None
5,Monsieur,Benlalah Ali,Congé,Bilatéral,2016,6,"Georgia Institute of Technology, Atlanta",251758,None
6,Monsieur,Bovel Matthieu Alexandre,Congé,Mobilité en Suisse,2016,6,Eidgenössische Technische Hochschule Zürich,250300,None
7,Monsieur,Burgelin Clément Louis Alexandre,Congé,Bilatéral,2016,6,"Johns Hopkins University, Baltimore",249954,None
8,Monsieur,Coudert Rémi Edouard,Congé,Erasmus,2016,6,Ecole Normale Supérieure de Lyon,249996,None
9,Madame,Evrova Gabriela,Congé,Mobilité en Suisse,2016,6,Eidgenössische Technische Hochschule Zürich,239489,None
10,Monsieur,Haefeli Simon Lucas,Congé,Bilatéral,2016,6,"University of British Columbia, Vancouver",246663,None
11,Monsieur,Lamonato Yves,Congé,Bilatéral,2016,6,Nanyang Technological University,245511,None
12,Monsieur,Madillo Raphael Frederic,Congé,Erasmus,2016,6,"Universitat Politècnica de Catalunya, Barcelona",250703,None
13,Monsieur,Massemin Lucas Christophe,Congé,Erasmus,2016,6,"Royal Institute of Technology, (KTH) Stockholm",245512,None
14,Monsieur,Mösching Guillaume Edouard Albert,Congé,Bilatéral,2016,6,Carnegie Mellon University Pittsburgh,247855,None
15,Madame,Mollier Lauriane Catherine Emilienne,6 - Visual computing,Congé,2016,6,Erasmus,Rheinisch-Westfälische Technische Hochschule A...,227311
16,Monsieur,Perret Thibaud,Congé,Erasmus,2016,6,"Royal Institute of Technology, (KTH) Stockholm",245782,None
17,Monsieur,Ramirez Lucas,Congé,Bilatéral,2016,6,Carnegie Mellon University Pittsburgh,247233,None
18,Monsieur,Resin David,Congé,Erasmus,2016,6,Aalto University,225452,None
19,Monsieur,Rigori Valentin Joseph,Congé,Erasmus,2016,6,"Royal Institute of Technology, (KTH) Stockholm",250362,None
20,Monsieur,Sánchez Keller Aleixo,Congé,235935,2016,6,None,None,None
21,Monsieur,Soufi Raja,Congé,Erasmus,2016,6,"Royal Institute of Technology, (KTH) Stockholm",247680,None
22,Monsieur,Vaucher Timoté Pascal,Congé,Bilatéral,2016,6,National University of Singapore,246532,None
23,Monsieur,Weier Philippe,Congé,Erasmus,2016,6,Universidad de Granada,247891,None