# Assignment 2 - Data from the web

## Data scraping

## 1. Obtain all the data

In [154]:
import requests
import pandas as pd
import numpy as np
import os
import os.path
import re
from IPython.display import display
from bs4 import BeautifulSoup

The first thing to do is to get the base URL (basically looking at the address bar of the browser).
We need a second variable INDEX_PARAM because this page is using frames, and we'll need the base address to access them.

In [155]:
BASE_URL = "http://isa.epfl.ch/imoniteur_ISAP/%21gedpublicreports.htm"
INDEX_PARAM = "ww_i_reportmodel=133685247"

Then let's fetch the parameters names, but as it is a bit tricker, BeautifulSoup will be a great help for this (and also some manual html inspection).

In [156]:
r = requests.get(BASE_URL + '?' + INDEX_PARAM)
soup = BeautifulSoup(r.text, 'html.parser')


#print(soup)

for frame in soup.find_all('frame'):
    if frame['name'] == 'toc':
        r = requests.get("http://isa.epfl.ch/imoniteur_ISAP/" + frame['src'])
        print(frame['src'])
# The content of the frame

# Print slects
soup = BeautifulSoup(r.text, 'html.parser')
query = 'http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.html?ww_x_GPS=-1&ww_i_reportModel=133685247'

!GEDPUBLICREPORTS.filter?ww_i_reportModel=133685247

For convenience, we also create another function that builds the query from some desired parameters.

In [157]:
def build_query(section, startYear, endYear, semesterType, semesterNumber, semesterSeason):
    # Print slects
    soup = BeautifulSoup(r.text, 'html.parser')
    query = 'http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.html?ww_x_GPS=-1&ww_i_reportModel=133685247'


    for in_put in soup.findAll('input'):
        #print (in_put['name'])
        if in_put.text == "xls":
        #print(in_put['value'])
            query = query + '&' + in_put['name'] + '=' + in_put['value']
     
    for select in soup.findAll('select'):
    #print (select['name'])
        for t in select.findAll('option'):
        #print(t)
            if t.text == section:
            #print(t['value'])
                query = query + '&' + select['name'] + '=' + t['value']
            if t.text == str(startYear) + '-' + str(endYear):
                query = query + '&' + select['name'] + '=' + t['value']
            if t.text == semesterType + " " + str(semesterNumber):
                query = query + '&' + select['name'] + '=' + t['value']
            if t.text == "Semestre " + semesterSeason:
                query = query + '&' + select['name'] + '=' + t['value']
    return query

And finally a nice function to easily query the EPFL page and get the data from it.

In [263]:
DATA_FOLDER_PATH = 'Data/'
def query_epfl(section, startYear, endYear, semesterType, semesterNumber, semesterSeason, update = False, writeToFile = True):
    #we create files to save the queries (and network bandwidth)
    path = str(section) + str(startYear) + str(endYear) + str(semesterType) + str(semesterNumber) + str(semesterSeason)
    
    #to avoid file naming issues
    path = re.sub('[^A-Za-z0-9]+', '', path)
    path += ".xls"
    
    df = None
    #we query the epfl server only if the file does not exist, or if we want to update the data
    if(not os.path.isfile(DATA_FOLDER_PATH + path) or update):
        queryString = build_query(section, startYear, endYear, semesterType, semesterNumber, semesterSeason)
        response = requests.get(queryString, stream=True)
        if response.status_code == 200:
            data = pd.read_html(response.text, match='.+', flavor=None, header=1, index_col=None, skiprows=1)
            df = data[0]
            df.drop(df.columns[[11, 12]], axis=1, inplace=True) #remove useless columns (all are empty)
            if writeToFile:
                df.to_excel(DATA_FOLDER_PATH + path) #save to xls file
    else:
        df = pd.read_excel(DATA_FOLDER_PATH + path, sheetname=0, header=0)
    
    return df

We can now start using those functions to collect data. 
Example below:

In [266]:
test = query_epfl("Informatique", 2007,2008, "Bachelor semestre", 1, "d'automne")
test.head()

,Civilité,Nom Prénom,Orientation Bachelor,Orientation Master,Spécialisation,Filière opt.,Mineur,Statut,Type Echange,Ecole Echange,No Sciper
0,Monsieur,Arévalo Christian,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,169569
1,Monsieur,Aubelle Flavien,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,174905
2,Monsieur,Badoud Morgan,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,173922
3,Monsieur,Baeriswyl Jonathan,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,179406
4,Monsieur,Barroco Michael,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,179428

We're now going to collect and merge every single semester of every single year. We'll append columns "year", "semester".

Together with a student's sciper, we'll use this to make unique indexes. We could've used the name but it's possible that two students with the same name would be in the same class in the same year and semestre.

In [265]:
frames = []
for year in range(2007, 2017):
    for semester in range (1, 7):
        if(semester % 2 == 0 ):
            season="de printemps"
        else:
            season="d'automne"
            
        df = query_epfl("Informatique", year,year+1, "Bachelor semestre", semester, season)
        #df.columns = ["civility", "name", "status", "sciper"]
        df['year'] = year
        df['semester'] = semester
        df.set_index(['year', 'semester', 'No Sciper'], drop=True, append=False, inplace=True)
        if (not df.index.is_unique):
            print("Error: non unique index in year:" + str(year) + "-" + str(year+1) + ", semester:" + str(semester) + ", season:" + str(season))
            
        frames.append(df)

result = pd.concat(frames)
result.shape

(5815, 10)

We make sure the index is unique

In [267]:
print(result.index.is_unique)

True

In [268]:
display(result)

                         Civilité                            Nom Prénom  \
year semester No Sciper
2007 1        169569     Monsieur                     Arévalo Christian
              174905     Monsieur                       Aubelle Flavien
              173922     Monsieur                         Badoud Morgan
              179406     Monsieur                    Baeriswyl Jonathan
              179428     Monsieur                       Barroco Michael
              179324     Monsieur                        Belfis Nicolas
              174597     Monsieur                     Beliaev Stanislav
              179449     Monsieur                 Bindschaedler Vincent
              178553     Monsieur                    Bloch Marc-Olivier
              179426     Monsieur                            Bloch Remi
              178271     Monsieur                Boéchat Marc-Alexandre
              182433     Monsieur                        Böhler Michael
              180731     Monsieur                  Bricola Jean-Charles
              171619     Monsieur                  Buchschacher Nicolas
              179837     Monsieur                          Caloz Daniel
              179157     Monsieur                        Calvert Thomas
              179864     Monsieur                      Cambazard Thomas
              174590     Monsieur                   Camenzind Guillaume
              178843     Monsieur                        Cattin Nicolas
              178711     Monsieur                          Cino Emanuel
              178786     Monsieur                          Coiro Andrea
              179567     Monsieur                     Collavini Gregory
              176282     Monsieur                        Corbat Nicolas
              178656     Monsieur                     Curreli Alexandre
              181445     Monsieur                        Custovic Alain
              178718     Monsieur                      Dal Mas Gianluca
              175466     Monsieur                     Decorvet Grégoire
              173882     Monsieur                     Dettwiler Fabrice
              181612       Madame                     Ej-Jennane Jihane
              181232     Monsieur                        Epiney Vincent
...                           ...                                   ...
2016 5        247891     Monsieur                        Weier Philippe
              250410     Monsieur                           Wicht Bruno
              212826     Monsieur                       Willemin Xavier
              250419     Monsieur                  Wütschert Robin Axel
              237151     Monsieur                  Zbinden Boris Adrien
              226652     Monsieur                 Zenhäusern Joey Kevin
     6        246671     Monsieur                    Abate Bryan Jeremy
              251759     Monsieur                     Alami-Idrissi Ali
              249498     Monsieur                         Aoun Leonardo
              234551     Monsieur              Bachmann Roman Christian
              247328     Monsieur                  Beck Johannes Magnus
              251758     Monsieur                          Benlalah Ali
              250300     Monsieur              Bovel Matthieu Alexandre
              249954     Monsieur      Burgelin Clément Louis Alexandre
              249996     Monsieur                  Coudert Rémi Edouard
              239489       Madame                       Evrova Gabriela
              246663     Monsieur                   Haefeli Simon Lucas
              245511     Monsieur                         Lamonato Yves
              250703     Monsieur              Madillo Raphael Frederic
              245512     Monsieur             Massemin Lucas Christophe
              247855     Monsieur     Mösching Guillaume Edouard Albert
              227311       Madame  Mollier Lauriane Catherine Emilienne
              245782     Monsieur                        Perret Thibaud
              247233     Monsieur                         Ramirez Lucas
              225452     Monsieur                           Resin David
              250362     Monsieur                Rigori Valentin Joseph
              235935     Monsieur                 Sánchez Keller Aleixo
              247680     Monsieur                            Soufi Raja
              246532     Monsieur                 Vaucher Timoté Pascal
              247891     Monsieur                        Weier Philippe

                        Orientation Bachelor Orientation Master  \
year semester No Sciper
2007 1        169569                     NaN                NaN
              174905                     NaN                NaN
              173922                     NaN                NaN
              179406                     NaN                NaN
              179428                     NaN                NaN
              179324                     NaN                NaN
              174597                     NaN                NaN
              179449                     NaN                NaN
              178553                     NaN                NaN
              179426                     NaN                NaN
              178271                     NaN                NaN
              182433                     NaN                NaN
              180731                     NaN                NaN
              171619                     NaN                NaN
              179837                     NaN                NaN
              179157                     NaN                NaN
              179864                     NaN                NaN
              174590                     NaN                NaN
              178843                     NaN                NaN
              178711                     NaN                NaN
              178786                     NaN                NaN
              179567                     NaN                NaN
              176282                     NaN                NaN
              178656                     NaN                NaN
              181445                     NaN                NaN
              178718                     NaN                NaN
              175466                     NaN                NaN
              173882                     NaN                NaN
              181612                     NaN                NaN
              181232                     NaN                NaN
...                                      ...                ...
2016 5        247891                     NaN                NaN
              250410                     NaN                NaN
              212826                     NaN                NaN
              250419                     NaN                NaN
              237151                     NaN                NaN
              226652                     NaN                NaN
     6        246671                     NaN                NaN
              251759                     NaN                NaN
              249498                     NaN                NaN
              234551                     NaN                NaN
              247328                     NaN                NaN
              251758                     NaN                NaN
              250300                     NaN                NaN
              249954                     NaN                NaN
              249996                     NaN                NaN
              239489                     NaN                NaN
              246663                     NaN                NaN
              245511                     NaN                NaN
              250703                     NaN                NaN
              245512                     NaN                NaN
              247855                     NaN                NaN
              227311                     NaN                NaN
              245782                     NaN                NaN
              247233                     NaN                NaN
              225452                     NaN                NaN
              250362                     NaN                NaN
              235935                     NaN                NaN
              247680                     NaN                NaN
              246532                     NaN                NaN
              247891                     NaN                NaN

                        Spécialisation                     Filière opt.  \
year semester No Sciper
2007 1        169569               NaN                              NaN
              174905               NaN                              NaN
              173922               NaN                              NaN
              179406               NaN                              NaN
              179428               NaN                              NaN
              179324               NaN                              NaN
              174597               NaN                              NaN
              179449               NaN                              NaN
              178553               NaN                              NaN
              179426               NaN                              NaN
              178271               NaN                              NaN
              182433               NaN                              NaN
              180731               NaN                              NaN
              171619               NaN                              NaN
              179837               NaN                              NaN
              179157               NaN                              NaN
              179864               NaN                              NaN
              174590               NaN                              NaN
              178843               NaN                              NaN
              178711               NaN                              NaN
              178786               NaN                              NaN
              179567               NaN                              NaN
              176282               NaN                              NaN
              178656               NaN                              NaN
              181445               NaN                              NaN
              178718               NaN                              NaN
              175466               NaN                              NaN
              173882               NaN                              NaN
              181612               NaN                              NaN
              181232               NaN                              NaN
...                                ...                              ...
2016 5        247891               NaN             6 - Visual computing
              250410               NaN             6 - Visual computing
              212826               NaN                              NaN
              250419               NaN             6 - Visual computing
              237151               NaN             6 - Visual computing
              226652               NaN                              NaN
     6        246671               NaN                              NaN
              251759               NaN  5 - Signal and Image Processing
              249498               NaN                              NaN
              234551               NaN                              NaN
              247328               NaN                              NaN
              251758               NaN                              NaN
              250300               NaN                              NaN
              249954               NaN                              NaN
              249996               NaN                              NaN
              239489               NaN                              NaN
              246663               NaN                              NaN
              245511               NaN                              NaN
              250703               NaN                              NaN
              245512               NaN                              NaN
              247855               NaN                              NaN
              227311               NaN             6 - Visual computing
              245782               NaN                              NaN
              247233               NaN                              NaN
              225452               NaN                              NaN
              250362               NaN                              NaN
              235935               NaN                              NaN
              247680               NaN                              NaN
              246532               NaN                              NaN
              247891               NaN                              NaN

                        Mineur   Statut        Type Echange  \
year semester No Sciper
2007 1        169569       NaN  Présent                 NaN
              174905       NaN  Présent                 NaN
              173922       NaN  Présent                 NaN
              179406       NaN  Présent                 NaN
              179428       NaN  Présent                 NaN
              179324       NaN  Présent                 NaN
              174597       NaN  Présent                 NaN
              179449       NaN  Présent                 NaN
              178553       NaN  Présent                 NaN
              179426       NaN  Présent                 NaN
              178271       NaN  Présent                 NaN
              182433       NaN  Présent                 NaN
              180731       NaN  Présent                 NaN
              171619       NaN  Présent                 NaN
              179837       NaN  Présent                 NaN
              179157       NaN  Présent                 NaN
              179864       NaN  Présent                 NaN
              174590       NaN  Présent                 NaN
              178843       NaN  Présent                 NaN
              178711       NaN  Présent                 NaN
              178786       NaN  Présent                 NaN
              179567       NaN  Présent                 NaN
              176282       NaN  Présent                 NaN
              178656       NaN  Présent                 NaN
              181445       NaN  Présent                 NaN
              178718       NaN  Présent                 NaN
              175466       NaN  Présent                 NaN
              173882       NaN  Présent                 NaN
              181612       NaN  Présent                 NaN
              181232       NaN  Présent                 NaN
...                        ...      ...                 ...
2016 5        247891       NaN    Congé             Erasmus
              250410       NaN  Présent                 NaN
              212826       NaN  Présent                 NaN
              250419       NaN  Présent                 NaN
              237151       NaN  Présent                 NaN
              226652       NaN  Présent                 NaN
     6        246671       NaN    Congé             Erasmus
              251759       NaN    Congé             Erasmus
              249498       NaN    Congé           Bilatéral
              234551       NaN    Congé             Erasmus
              247328       NaN    Congé  Mobilité en Suisse
              251758       NaN    Congé           Bilatéral
              250300       NaN    Congé  Mobilité en Suisse
              249954       NaN    Congé           Bilatéral
              249996       NaN    Congé             Erasmus
              239489       NaN    Congé  Mobilité en Suisse
              246663       NaN    Congé           Bilatéral
              245511       NaN    Congé           Bilatéral
              250703       NaN    Congé             Erasmus
              245512       NaN    Congé             Erasmus
              247855       NaN    Congé           Bilatéral
              227311       NaN    Congé             Erasmus
              245782       NaN    Congé             Erasmus
              247233       NaN    Congé           Bilatéral
              225452       NaN    Congé             Erasmus
              250362       NaN    Congé             Erasmus
              235935       NaN    Congé                 NaN
              247680       NaN    Congé             Erasmus
              246532       NaN    Congé           Bilatéral
              247891       NaN    Congé             Erasmus

                                                             Ecole Echange
year semester No Sciper
2007 1        169569                                                   NaN
              174905                                                   NaN
              173922                                                   NaN
              179406                                                   NaN
              179428                                                   NaN
              179324                                                   NaN
              174597                                                   NaN
              179449                                                   NaN
              178553                                                   NaN
              179426                                                   NaN
              178271                                                   NaN
              182433                                                   NaN
              180731                                                   NaN
              171619                                                   NaN
              179837                                                   NaN
              179157                                                   NaN
              179864                                                   NaN
              174590                                                   NaN
              178843                                                   NaN
              178711                                                   NaN
              178786                                                   NaN
              179567                                                   NaN
              176282                                                   NaN
              178656                                                   NaN
              181445                                                   NaN
              178718                                                   NaN
              175466                                                   NaN
              173882                                                   NaN
              181612                                                   NaN
              181232                                                   NaN
...                                                                    ...
2016 5        247891                                Universidad de Granada
              250410                                                   NaN
              212826                                                   NaN
              250419                                                   NaN
              237151                                                   NaN
              226652                                                   NaN
     6        246671                                 University of Bristol
              251759                                  Linköping University
              249498                     University of Washington, Seattle
              234551     Norwegian University of Science and Technology...
              247328           Eidgenössische Technische Hochschule Zürich