# Assignment 2 - Data from the web

## Data scraping

## 1. Obtain all the data

In [154]:
import requests
import pandas as pd
import numpy as np
import os
import os.path
import re
from IPython.display import display
from bs4 import BeautifulSoup

The first thing to do is to get the base URL (basically looking at the address bar of the browser).
We need a second variable INDEX_PARAM because this page is using frames, and we'll need the base address to access them.

In [155]:
BASE_URL = "http://isa.epfl.ch/imoniteur_ISAP/%21gedpublicreports.htm"
INDEX_PARAM = "ww_i_reportmodel=133685247"

Then let's fetch the parameters names, but as it is a bit tricker, BeautifulSoup will be a great help for this (and also some manual html inspection).

In [156]:
r = requests.get(BASE_URL + '?' + INDEX_PARAM)
soup = BeautifulSoup(r.text, 'html.parser')


#print(soup)

for frame in soup.find_all('frame'):
    if frame['name'] == 'toc':
        r = requests.get("http://isa.epfl.ch/imoniteur_ISAP/" + frame['src'])
        print(frame['src'])
# The content of the frame

# Print slects
soup = BeautifulSoup(r.text, 'html.parser')
query = 'http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.html?ww_x_GPS=-1&ww_i_reportModel=133685247'

!GEDPUBLICREPORTS.filter?ww_i_reportModel=133685247

For convenience, we also create another function that builds the query from some desired parameters.

In [157]:
def build_query(section, startYear, endYear, semesterType, semesterNumber, semesterSeason):
    # Print slects
    soup = BeautifulSoup(r.text, 'html.parser')
    query = 'http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.html?ww_x_GPS=-1&ww_i_reportModel=133685247'


    for in_put in soup.findAll('input'):
        #print (in_put['name'])
        if in_put.text == "xls":
        #print(in_put['value'])
            query = query + '&' + in_put['name'] + '=' + in_put['value']
     
    for select in soup.findAll('select'):
    #print (select['name'])
        for t in select.findAll('option'):
        #print(t)
            if t.text == section:
            #print(t['value'])
                query = query + '&' + select['name'] + '=' + t['value']
            if t.text == str(startYear) + '-' + str(endYear):
                query = query + '&' + select['name'] + '=' + t['value']
            if t.text == semesterType + " " + str(semesterNumber):
                query = query + '&' + select['name'] + '=' + t['value']
            if t.text == "Semestre " + semesterSeason:
                query = query + '&' + select['name'] + '=' + t['value']
    return query

And finally a nice function to easily query the EPFL page and get the data from it.

In [222]:
DATA_FOLDER_PATH = 'Data/'
def query_epfl(section, startYear, endYear, semesterType, semesterNumber, semesterSeason, update = False, writeToFile = True):
    #we create files to save the queries (and network bandwidth)
    path = str(section) + str(startYear) + str(endYear) + str(semesterType) + str(semesterNumber) + str(semesterSeason)
    
    #to avoid file naming issues
    path = re.sub('[^A-Za-z0-9]+', '', path)
    path += ".xls"
    
    df = None
    #we query the epfl server only if the file does not exist, or if we want to update the data
    if(not os.path.isfile(DATA_FOLDER_PATH + path) or update):
        queryString = build_query(section, startYear, endYear, semesterType, semesterNumber, semesterSeason)
        response = requests.get(queryString, stream=True)
        if response.status_code == 200:
            data = pd.read_html(response.text, match='.+', flavor=None, header=1, index_col=10, skiprows=1)
            df = data[0]
            df.drop(df.columns[[10, 11]], axis=1, inplace=True) #remove useless columns (all are empty)
            if writeToFile:
                df.to_excel(DATA_FOLDER_PATH + path) #save to xls file
    else:
        df = pd.read_excel(DATA_FOLDER_PATH + path, sheetname=0, header=0, skiprows=0, skip_footer=0, index_col=0)
    
    return df

We can now start using those functions to collect data. 
Example below:

In [229]:
test = query_epfl("Informatique", 2007,2008, "Bachelor semestre", 1, "d'automne", True)
test.head()

,Civilité,Nom Prénom,Orientation Bachelor,Orientation Master,Spécialisation,Filière opt.,Mineur,Statut,Type Echange,Ecole Echange
No Sciper,,,,,,,,,,
169569,Monsieur,Arévalo Christian,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN
174905,Monsieur,Aubelle Flavien,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN
173922,Monsieur,Badoud Morgan,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN
179406,Monsieur,Baeriswyl Jonathan,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN
179428,Monsieur,Barroco Michael,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN

We're now going to collect and merge every single semester of every single year. We'll append columns "year", "semester".

In [231]:
frames = []
for year in range(2007, 2017):
    for semester in range (1, 7):
        if(semester % 2 == 0 ):
            season="de printemps"
        else:
            season="d'automne"
            
        df = query_epfl("Informatique", year,year+1, "Bachelor semestre", semester, season)
        #df.columns = ["civility", "name", "status", "sciper"]
        df['year'] = year
        df['semester'] = semester
        #df.set_index(['sciper', 'year', 'semester'])
        if (not df.index.is_unique):
            print("Error: non unique index in year:" + str(year) + "-" + str(year+1) + ", semester:" + str(semester) + ", season:" + str(season))
            
        frames.append(df)

result = pd.concat(frames)

We make sure the index is unique

In [232]:
print(result.index.is_unique)

False

In [233]:
display(result)

,Civilité,Nom Prénom,Orientation Bachelor,Orientation Master,Spécialisation,Filière opt.,Mineur,Statut,Type Echange,Ecole Echange,year,semester
No Sciper,,,,,,,,,,,,
169569,Monsieur,Arévalo Christian,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,2007,1
174905,Monsieur,Aubelle Flavien,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,2007,1
173922,Monsieur,Badoud Morgan,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,2007,1
179406,Monsieur,Baeriswyl Jonathan,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,2007,1
179428,Monsieur,Barroco Michael,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,2007,1
179324,Monsieur,Belfis Nicolas,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,2007,1
174597,Monsieur,Beliaev Stanislav,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,2007,1
179449,Monsieur,Bindschaedler Vincent,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,2007,1
178553,Monsieur,Bloch Marc-Olivier,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,2007,1
179426,Monsieur,Bloch Remi,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,2007,1
178271,Monsieur,Boéchat Marc-Alexandre,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,2007,1
182433,Monsieur,Böhler Michael,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,2007,1
180731,Monsieur,Bricola Jean-Charles,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,2007,1
171619,Monsieur,Buchschacher Nicolas,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,2007,1
179837,Monsieur,Caloz Daniel,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,2007,1
179157,Monsieur,Calvert Thomas,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,2007,1
179864,Monsieur,Cambazard Thomas,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,2007,1
174590,Monsieur,Camenzind Guillaume,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,2007,1
178843,Monsieur,Cattin Nicolas,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,2007,1
178711,Monsieur,Cino Emanuel,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,2007,1
178786,Monsieur,Coiro Andrea,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,2007,1
179567,Monsieur,Collavini Gregory,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,2007,1
176282,Monsieur,Corbat Nicolas,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,2007,1
178656,Monsieur,Curreli Alexandre,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,2007,1
181445,Monsieur,Custovic Alain,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,2007,1
178718,Monsieur,Dal Mas Gianluca,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,2007,1
175466,Monsieur,Decorvet Grégoire,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,2007,1
173882,Monsieur,Dettwiler Fabrice,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,2007,1
181612,Madame,Ej-Jennane Jihane,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,2007,1
181232,Monsieur,Epiney Vincent,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,2007,1
...,...,...,...,...,...,...,...,...,...,...,...,...
247891,Monsieur,Weier Philippe,NaN,NaN,NaN,6 - Visual computing,NaN,Congé,Erasmus,Universidad de Granada,2016,5
250410,Monsieur,Wicht Bruno,NaN,NaN,NaN,6 - Visual computing,NaN,Présent,NaN,NaN,2016,5
212826,Monsieur,Willemin Xavier,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,2016,5
250419,Monsieur,Wütschert Robin Axel,NaN,NaN,NaN,6 - Visual computing,NaN,Présent,NaN,NaN,2016,5
237151,Monsieur,Zbinden Boris Adrien,NaN,NaN,NaN,6 - Visual computing,NaN,Présent,NaN,NaN,2016,5
226652,Monsieur,Zenhäusern Joey Kevin,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,2016,5
246671,Monsieur,Abate Bryan Jeremy,NaN,NaN,NaN,NaN,NaN,Congé,Erasmus,University of Bristol,2016,6
251759,Monsieur,Alami-Idrissi Ali,NaN,NaN,NaN,5 - Signal and Image Processing,NaN,Congé,Erasmus,Linköping University,2016,6
249498,Monsieur,Aoun Leonardo,NaN,NaN,NaN,NaN,NaN,Congé,Bilatéral,"University of Washington, Seattle",2016,6
234551,Monsieur,Bachmann Roman Christian,NaN,NaN,NaN,NaN,NaN,Congé,Erasmus,Norwegian University of Science and Technology...,2016,6
247328,Monsieur,Beck Johannes Magnus,NaN,NaN,NaN,NaN,NaN,Congé,Mobilité en Suisse,Eidgenössische Technische Hochschule Zürich,2016,6
251758,Monsieur,Benlalah Ali,NaN,NaN,NaN,NaN,NaN,Congé,Bilatéral,"Georgia Institute of Technology, Atlanta",2016,6
250300,Monsieur,Bovel Matthieu Alexandre,NaN,NaN,NaN,NaN,NaN,Congé,Mobilité en Suisse,Eidgenössische Technische Hochschule Zürich,2016,6
249954,Monsieur,Burgelin Clément Louis Alexandre,NaN,NaN,NaN,NaN,NaN,Congé,Bilatéral,"Johns Hopkins University, Baltimore",2016,6
249996,Monsieur,Coudert Rémi Edouard,NaN,NaN,NaN,NaN,NaN,Congé,Erasmus,Ecole Normale Supérieure de Lyon,2016,6
239489,Madame,Evrova Gabriela,NaN,NaN,NaN,NaN,NaN,Congé,Mobilité en Suisse,Eidgenössische Technische Hochschule Zürich,2016,6
246663,Monsieur,Haefeli Simon Lucas,NaN,NaN,NaN,NaN,NaN,Congé,Bilatéral,"University of British Columbia, Vancouver",2016,6
245511,Monsieur,Lamonato Yves,NaN,NaN,NaN,NaN,NaN,Congé,Bilatéral,Nanyang Technological University,2016,6
250703,Monsieur,Madillo Raphael Frederic,NaN,NaN,NaN,NaN,NaN,Congé,Erasmus,"Universitat Politècnica de Catalunya, Barcelona",2016,6
245512,Monsieur,Massemin Lucas Christophe,NaN,NaN,NaN,NaN,NaN,Congé,Erasmus,"Royal Institute of Technology, (KTH) Stockholm",2016,6
247855,Monsieur,Mösching Guillaume Edouard Albert,NaN,NaN,NaN,NaN,NaN,Congé,Bilatéral,Carnegie Mellon University Pittsburgh,2016,6
227311,Madame,Mollier Lauriane Catherine Emilienne,NaN,NaN,NaN,6 - Visual computing,NaN,Congé,Erasmus,Rheinisch-Westfälische Technische Hochschule A...,2016,6
245782,Monsieur,Perret Thibaud,NaN,NaN,NaN,NaN,NaN,Congé,Erasmus,"Royal Institute of Technology, (KTH) Stockholm",2016,6
247233,Monsieur,Ramirez Lucas,NaN,NaN,NaN,NaN,NaN,Congé,Bilatéral,Carnegie Mellon University Pittsburgh,2016,6
225452,Monsieur,Resin David,NaN,NaN,NaN,NaN,NaN,Congé,Erasmus,Aalto University,2016,6
250362,Monsieur,Rigori Valentin Joseph,NaN,NaN,NaN,NaN,NaN,Congé,Erasmus,"Royal Institute of Technology, (KTH) Stockholm",2016,6
235935,Monsieur,Sánchez Keller Aleixo,NaN,NaN,NaN,NaN,NaN,Congé,NaN,NaN,2016,6
247680,Monsieur,Soufi Raja,NaN,NaN,NaN,NaN,NaN,Congé,Erasmus,"Royal Institute of Technology, (KTH) Stockholm",2016,6
246532,Monsieur,Vaucher Timoté Pascal,NaN,NaN,NaN,NaN,NaN,Congé,Bilatéral,National University of Singapore,2016,6
247891,Monsieur,Weier Philippe,NaN,NaN,NaN,NaN,NaN,Congé,Erasmus,Universidad de Granada,2016,6